<!DOCTYPE html>
<html>
<head>
	<title>Aplicação de exemplo Symfony</title>
</head>
<body>
	<div>
		<h1>Site - Página</h1>
		<ul>
			{% for iten in list %}
				<li>{{ iten }}</li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>